extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        if prods.length > 0
            .grid
                each product in prods
                    .article.card.product-item
                        .header.card__header
                            h1.product__title #{product.title}
                        .div.card__image
                            .img(src="https://bp5-assets-2.s3.us-east-2.amazonaws.com/wp-content/uploads/2022/11/07115226/bestbooks_FB-1.jpg", alt="A Book")
                        .div.card__content
                            .h2.product__price $19.99
                            .p.product__description A very interesting book about so many even more interesting things!
                        .card__actions
                            .button.btn Add to Cart
        else 
            h1 No products